//- extends includes/layout.pug

//- block content
//-   include ./includes/mixins/post-ui.pug
//-   #recent-posts.recent-posts
//-     +postUI
//-     include includes/pagination.pug

extends includes/layout.pug

block content
  #recent-posts.recent-posts
    .recent-post-item.waterfall-container
      if page.posts.length > 0
        each article in page.posts.data
          .waterfall-item
            include includes/mixins/post-card.pug
            +postCard(article)
      else
        include includes/mixins/post-card.pug
        +postCard({
          title: _p('No Posts'),
          date: null,
          updated: null,
          comments: false,
          path: '',
          covers: [config.default_cover]
        })

  include includes/pagination.pug