.waterfall-container
  column-count: 3
  column-gap: 1em

.waterfall-item
  break-inside: avoid
  margin-bottom: 1em

@media screen and (max-width: 992px)
  .waterfall-container
    column-count: 2

@media screen and (max-width: 768px)
  .waterfall-container
    column-count: 1